/* Start font for icon */

@font-face {
    font-family: 'soap-icons';
    src: url("../fonts/soap-icons.eot?26664784");
    src: url("../fonts/soap-icons.eot?26664784#iefix") format("embedded-opentype"), url("../fonts/soap-icons.woff?26664784") format("woff"), url("../fonts/soap-icons.ttf?26664784") format("truetype"), url("../fonts/soap-icons.svg?26664784#soap-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="soap-icon"],
[class*=" soap-icon"] {
    vertical-align: baseline;
}

[class^="soap-icon"]:before,
[class*=" soap-icon"]:before {
    font-family: "soap-icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.soap-icon-twitter:before {
    content: '\e8a8';
}

.soap-icon-facebook:before {
    content: '\e8a0';
}

.soap-icon-googleplus:before {
    content: '\e8a1';
}

.soap-icon-pinterest:before {
    content: '\e8a2';
}

.soap-icon-youtube:before {
    content: '\e8ab';
}

.soap-icon-pinterest:before {
    content: '\e8a2';
}

.soap-icon-instagram:before {
    content: '\e8b5';
}

.soap-icon-phone:before {
    content: '\e81f';
}


/* End font for icon */

* {
    padding: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

#footer h2 {
    margin-bottom: 20px;
}

#footer {
    color: #ff6000!important;
}

.menu-footer ul li a {
    color: inherit;
}

.menu-footer ul li a:hover {
    text-decoration: none;
    color: #ff9e2e;
}

.menu-footer ul li:before {
    content: "\f04b";
    margin-right: 10px;
    color: #d9d9d9;
    display: block;
    float: left;
    font-size: 7px;
    font-family: FontAwesome;
}

.footer-wrapper .menu-footer ul {
    column-count: 2;
}

.contact-details {
    font-style: normal;
}

.contact-details .contact-phone {
    color: #2d3e52;
    font-size: 1.6667em;
}

.contact-details .contact-phone i {
    color: #ff6000 !important;
    font-style: italic;
}

.contact-details .contact-email {
    color: #12a0c3;
    font-size: 1.1667em;
    padding: 0 24px;
    line-height: 2em;
}

address {
    margin-bottom: 20px;
    line-height: 1.42857143;
}

.menu-footer li {
    line-height: 2.6667em;
}

.small-box {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
}

.social-icons li {
    float: left;
    text-align: center;
    overflow: hidden;
}

.social-icons li a {
    width: 32px;
    margin-right: 4px;
    height: 32px;
    display: inline-block;
    background: #d9d9d9;
    color: #fff;
    line-height: 32px;
    font-size: 1.3333em;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.social-icons li a:hover {
    background: #12a0c3;
    outline: 0;
}

a:-webkit-any() {
    cursor: pointer;
}

.social-icons li a .fa {
    line-height: 32px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons.full-width {
    display: block;
}

.social-icons.full-width li {
    display: table-cell;
    float: none;
    width: 1%;
    margin: 0;
    text-align: center;
}

.social-icons li {
    overflow: hidden;
}

.social-icons li:hover i {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
    display: block;
}

h2 {
    line-height: 1.25em;
    margin: 0 0 15px;
    font-size: 1.6667em;
    font-weight: 400;
    color: #2d3e52;
}

body {
    font: 75%/150% Lato, Arial, Helvetica, sans-serif;
    margin: 0px;
}