.wrapper {
    width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    background: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}