@font-face {
    font-family: "soap-icons";
    src: url("../assets/soap-icons.eot?26664784");
    src: url("../assets/soap-icons.eot?26664784#iefix") format("embedded-opentype"), url("../assets/soap-icons.woff?26664784") format("woff"), url("../assets/soap-icons.ttf?26664784") format("truetype"), url("../assets/soap-icons.svg?26664784#soap-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="soap-icon"],
[class*=" soap-icon"] {
    vertical-align: baseline;
}

[class^="soap-icon"]:before,
[class*=" soap-icon"]:before {
    font-family: "soap-icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

[class^="soap-icon"].circle,
[class*=" soap-icon"].circle,
.glyphicon.circle {
    border: 1px solid;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.7333em;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    text-align: center;
}

.row-content {
    margin: 1em;
}

body {
    font: 75%/150% Lato, Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #223d41;
}

.booking-details {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.booking-details h4 {
    font-size: 1.3333em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #2d3e52;
}

section#content {
    padding-top: 40px;
    min-height: 400px;
    text-align: left;
    background: #f5f5f5;
}

section#content:after {
    display: table;
    content: "";
    clear: both;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
}

.page-title {
    padding: 5px;
    background-color: #2d3e52;
}

.post-title {
    color: white;
    font-size: 1.6667em;
}

.content {
    background-color: white;
}

.sidebar-content {
    background-color: white;
}

.col-md-9,
.col-md-3 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    color: #838383;
    font-size: 1.0833em;
    line-height: 1.6666;
    color: #838383;
    line-height: 1.6666;
}

.update-search {
    border: 15px solid #f5f5f5;
    background: #fff;
    padding: 20px 20px 12px;
    margin-bottom: 20px;
}

.contact {
    color: #12a0c3;
}

.email {
    color: #838383;
}

button span {
    color: #838383;
    display: inline-block;
    vertical-align: middle;
}

.soap-icon-plus:before {
    content: "\e88d";
    font-size: xx-large;
}

.bg-login {
    background-image: url("../assets/bg-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.label-detail {
    color: #12a0c3 !important;
}

.grey-background {
    background-color: #f5f5f5;
}

.content-left {
    background-color: white;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.content-right {
    background-color: white;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.soap-icon-hotel-1:before {
    content: "\e82d";
}

.sidebar-icon {
    font-size: 1.1rem;
    color: #ff6000;
}

.sidebar-li-title {
    font-size: 0.9rem;
}

.soap-icon-savings:before {
    content: "\e80c";
}

.soap-icon-support:before {
    content: "\e810";
}

.visible-lg {
    display: block !important;
}

.img-hover-zoom {
    height: 64px;
    /* Modify this according to your need */
    width: 64px;
    /* Modify this according to your need */
    overflow: hidden;
    /* Removing this will break the effects */
}

.img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
}


/* The Transformation */

.img-hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1);
}

#main {
    margin-bottom: 40px;
}

.booking-section {
    padding: 20px 30px;
    background: #fff;
    margin-bottom: 30px;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: .9167em;
    text-transform: uppercase;
    letter-spacing: .04em;
    color: #838383;
}

.booking-form hr {
    margin: 20px 0;
}

.booking-form .checkbox label {
    font-size: 1.0833em;
    text-transform: none;
    line-height: 20px;
}

.booking-form .form-control {
    background: #f5f5f5;
    border: none;
}

.form-control:focus {
    border-color: #ff6000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 96, 0, 1);
}


/* Side Bar Booking */

.booking-details .tour-detail {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

.booking-details figure .travel-title {
    margin-left: 90px;
}

.booking-details .box-booking {
    line-height: 1em;
    margin-bottom: 5px;
    letter-spacing: .04em;
}

.booking-form small {
    font-size: 97%;
}